USE [HR_Vault]
GO
/****** Object:  Table [dbo].[AI_METADATA]    Script Date: 5/14/2026 1:21:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AI_METADATA](
	[AIMetadataID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentID] [int] NULL,
	[MetadataKey] [nvarchar](300) NULL,
	[MetadataValue] [nvarchar](max) NULL,
	[ConfidenceScore] [decimal](5, 2) NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AIMetadataID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENT_CHECKOUTS]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_CHECKOUTS](
	[CheckoutID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentID] [int] NULL,
	[CheckedOutBy] [int] NULL,
	[CheckedOutOn] [datetime] NULL,
	[IsActive] [bit] NULL,
	[MachineName] [nvarchar](200) NULL,
	[IPAddress] [nvarchar](100) NULL,
	[Comments] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CheckoutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENT_FILES]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_FILES](
	[DocumentFileID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentID] [int] NULL,
	[FileID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentFileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENT_LOCKS]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_LOCKS](
	[LockID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentID] [int] NULL,
	[LockedBy] [int] NULL,
	[LockedOn] [datetime] NULL,
	[LockType] [nvarchar](50) NULL,
	[IsLocked] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[LockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENT_PERMISSIONS]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_PERMISSIONS](
	[DocumentPermissionID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentID] [int] NULL,
	[UserID] [int] NULL,
	[RoleID] [int] NULL,
	[CanView] [bit] NULL,
	[CanEdit] [bit] NULL,
	[CanDelete] [bit] NULL,
	[CanDownload] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentPermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENT_SIGNATURES]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_SIGNATURES](
	[SignatureID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentID] [int] NULL,
	[SignedBy] [int] NULL,
	[SignatureHash] [nvarchar](max) NULL,
	[SignedOn] [datetime] NULL,
	[IsValid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SignatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENT_WATERMARKS]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_WATERMARKS](
	[WatermarkID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentID] [int] NULL,
	[WatermarkText] [nvarchar](500) NULL,
	[AppliedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WatermarkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENT_WORKFLOW]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_WORKFLOW](
	[DocumentWorkflowID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentID] [int] NULL,
	[WorkflowID] [int] NULL,
	[CurrentStateID] [int] NULL,
	[StartedBy] [int] NULL,
	[StartedOn] [datetime] NULL,
	[Completed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentWorkflowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENT_WORKFLOW_HISTORY]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_WORKFLOW_HISTORY](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentID] [int] NULL,
	[FromStateID] [int] NULL,
	[ToStateID] [int] NULL,
	[ActionName] [nvarchar](200) NULL,
	[ActionBy] [int] NULL,
	[ActionDate] [datetime] NULL,
	[Comments] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENTS]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTS](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[ObjectTypeID] [int] NULL,
	[Title] [nvarchar](500) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[IsDeleted] [bit] NULL,
	[IsCheckedOut] [bit] NULL,
	[CheckedOutBy] [int] NULL,
	[CheckedOutOn] [datetime] NULL,
	[FolderID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILE_VERSIONS]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILE_VERSIONS](
	[VersionID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentID] [int] NULL,
	[FileID] [int] NULL,
	[VersionNo] [int] NULL,
	[VersionLabel] [nvarchar](100) NULL,
	[FilePath] [nvarchar](max) NULL,
	[FileSize] [bigint] NULL,
	[ContentType] [nvarchar](200) NULL,
	[UploadedBy] [int] NULL,
	[UploadedOn] [datetime] NULL,
	[Comments] [nvarchar](max) NULL,
	[IsCurrent] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[VersionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILES]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILES](
	[FileID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](500) NULL,
	[OriginalFileName] [nvarchar](500) NULL,
	[FileExtension] [nvarchar](50) NULL,
	[FilePath] [nvarchar](max) NULL,
	[FileSize] [bigint] NULL,
	[ContentType] [nvarchar](200) NULL,
	[UploadedBy] [int] NULL,
	[UploadedOn] [datetime] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOLDER_DOCUMENTS]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOLDER_DOCUMENTS](
	[FolderDocumentID] [int] IDENTITY(1,1) NOT NULL,
	[FolderID] [int] NULL,
	[DocumentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FolderDocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOLDER_PERMISSIONS]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOLDER_PERMISSIONS](
	[FolderPermissionID] [int] IDENTITY(1,1) NOT NULL,
	[FolderID] [int] NULL,
	[RoleID] [int] NULL,
	[CanView] [bit] NULL,
	[CanCreate] [bit] NULL,
	[CanEdit] [bit] NULL,
	[CanDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[FolderPermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOLDERS]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOLDERS](
	[FolderID] [int] IDENTITY(1,1) NOT NULL,
	[ParentFolderID] [int] NULL,
	[FolderName] [nvarchar](300) NULL,
	[FolderPath] [nvarchar](max) NULL,
	[FolderLevel] [int] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FolderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[METADATA_VALUES]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METADATA_VALUES](
	[MetadataID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentID] [int] NULL,
	[PropertyID] [int] NULL,
	[ValueText] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MetadataID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBJECT_CLASSES]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJECT_CLASSES](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ObjectTypeID] [int] NULL,
	[ClassName] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[IconName] [nvarchar](100) NULL,
	[ColorCode] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBJECT_FILES]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJECT_FILES](
	[FileID] [bigint] IDENTITY(1,1) NOT NULL,
	[RecordID] [bigint] NULL,
	[OriginalFileName] [nvarchar](500) NULL,
	[StoredFileName] [nvarchar](500) NULL,
	[FileExtension] [nvarchar](50) NULL,
	[FilePath] [nvarchar](max) NULL,
	[FileSize] [bigint] NULL,
	[MimeType] [nvarchar](200) NULL,
	[VersionNo] [int] NULL,
	[UploadedOn] [datetime] NULL,
	[UploadedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBJECT_PERMISSIONS]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJECT_PERMISSIONS](
	[ObjectPermissionID] [int] IDENTITY(1,1) NOT NULL,
	[ObjectTypeID] [int] NULL,
	[RoleID] [int] NULL,
	[CanView] [bit] NULL,
	[CanCreate] [bit] NULL,
	[CanEdit] [bit] NULL,
	[CanDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ObjectPermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBJECT_PROPERTIES]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJECT_PROPERTIES](
	[PropertyID] [int] IDENTITY(1,1) NOT NULL,
	[ObjectTypeID] [int] NULL,
	[PropertyName] [nvarchar](200) NULL,
	[DisplayName] [nvarchar](200) NULL,
	[DataType] [nvarchar](50) NULL,
	[ControlType] [nvarchar](50) NULL,
	[IsRequired] [bit] NULL,
	[IsUnique] [bit] NULL,
	[IsSearchable] [bit] NULL,
	[IsSystem] [bit] NULL,
	[DefaultValue] [nvarchar](max) NULL,
	[LookupObjectTypeID] [int] NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBJECT_PROPERTY_VALUES]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJECT_PROPERTY_VALUES](
	[ValueID] [bigint] IDENTITY(1,1) NOT NULL,
	[RecordID] [bigint] NULL,
	[PropertyID] [int] NULL,
	[PropertyValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ValueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBJECT_RECORDS]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJECT_RECORDS](
	[RecordID] [bigint] IDENTITY(1,1) NOT NULL,
	[ObjectTypeID] [int] NULL,
	[ClassID] [int] NULL,
	[Title] [nvarchar](500) NULL,
	[CurrentVersion] [int] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBJECT_RELATIONS]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJECT_RELATIONS](
	[RelationID] [bigint] IDENTITY(1,1) NOT NULL,
	[ParentRecordID] [bigint] NULL,
	[ChildRecordID] [bigint] NULL,
	[RelationType] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RelationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBJECT_TYPES]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJECT_TYPES](
	[ObjectTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ObjectTypeName] [nvarchar](200) NULL,
	[TableName] [nvarchar](200) NULL,
	[HasFiles] [bit] NULL,
	[IsSystem] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ObjectTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OCR_CONTENT]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCR_CONTENT](
	[OCRID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentID] [int] NULL,
	[ExtractedText] [nvarchar](max) NULL,
	[ExtractedOn] [datetime] NULL,
	[ExtractedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OCRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OCR_METADATA]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCR_METADATA](
	[OCRMetadataID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentID] [int] NULL,
	[MetadataKey] [nvarchar](300) NULL,
	[MetadataValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[OCRMetadataID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROPERTY_PERMISSIONS]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPERTY_PERMISSIONS](
	[PropertyPermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyID] [int] NULL,
	[RoleID] [int] NULL,
	[CanView] [bit] NULL,
	[CanEdit] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyPermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEARCH_INDEX]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEARCH_INDEX](
	[SearchIndexID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentID] [int] NULL,
	[IndexedText] [nvarchar](max) NULL,
	[IndexedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SearchIndexID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEARCH_KEYWORDS]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEARCH_KEYWORDS](
	[KeywordID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentID] [int] NULL,
	[KeywordText] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[KeywordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKFLOW_ROLE_PERMISSIONS]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKFLOW_ROLE_PERMISSIONS](
	[WorkflowRolePermissionID] [int] IDENTITY(1,1) NOT NULL,
	[WorkflowID] [int] NULL,
	[StateID] [int] NULL,
	[RoleID] [int] NULL,
	[CanApprove] [bit] NULL,
	[CanReject] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkflowRolePermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKFLOW_STATES]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKFLOW_STATES](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[WorkflowID] [int] NULL,
	[StateName] [nvarchar](200) NULL,
	[StateColor] [nvarchar](50) NULL,
	[IsInitial] [bit] NULL,
	[IsFinal] [bit] NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKFLOW_TRANSITIONS]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKFLOW_TRANSITIONS](
	[TransitionID] [int] IDENTITY(1,1) NOT NULL,
	[WorkflowID] [int] NULL,
	[FromStateID] [int] NULL,
	[ToStateID] [int] NULL,
	[ActionName] [nvarchar](200) NULL,
	[AllowedRoleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransitionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKFLOWS]    Script Date: 5/14/2026 1:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKFLOWS](
	[WorkflowID] [int] IDENTITY(1,1) NOT NULL,
	[WorkflowName] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkflowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DOCUMENT_CHECKOUTS] ON 

INSERT [dbo].[DOCUMENT_CHECKOUTS] ([CheckoutID], [DocumentID], [CheckedOutBy], [CheckedOutOn], [IsActive], [MachineName], [IPAddress], [Comments]) VALUES (1, 1, 0, CAST(N'2026-05-14T12:04:52.943' AS DateTime), 1, N'DESKTOP-16MLAF2', N'::1', N'123')
SET IDENTITY_INSERT [dbo].[DOCUMENT_CHECKOUTS] OFF
GO
SET IDENTITY_INSERT [dbo].[DOCUMENT_FILES] ON 

INSERT [dbo].[DOCUMENT_FILES] ([DocumentFileID], [DocumentID], [FileID]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[DOCUMENT_FILES] OFF
GO
SET IDENTITY_INSERT [dbo].[DOCUMENT_LOCKS] ON 

INSERT [dbo].[DOCUMENT_LOCKS] ([LockID], [DocumentID], [LockedBy], [LockedOn], [LockType], [IsLocked]) VALUES (1, 1, 0, CAST(N'2026-05-14T12:04:52.960' AS DateTime), N'CHECKOUT', 1)
SET IDENTITY_INSERT [dbo].[DOCUMENT_LOCKS] OFF
GO
SET IDENTITY_INSERT [dbo].[DOCUMENTS] ON 

INSERT [dbo].[DOCUMENTS] ([DocumentID], [ObjectTypeID], [Title], [CreatedOn], [CreatedBy], [IsDeleted], [IsCheckedOut], [CheckedOutBy], [CheckedOutOn], [FolderID]) VALUES (1, 1, N'Ali Khan', CAST(N'2026-05-13T08:59:56.930' AS DateTime), 1, 0, 1, 0, CAST(N'2026-05-14T12:04:52.967' AS DateTime), NULL)
INSERT [dbo].[DOCUMENTS] ([DocumentID], [ObjectTypeID], [Title], [CreatedOn], [CreatedBy], [IsDeleted], [IsCheckedOut], [CheckedOutBy], [CheckedOutOn], [FolderID]) VALUES (2, 1, N'Ahmed Raza', CAST(N'2026-05-13T08:59:56.930' AS DateTime), 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[DOCUMENTS] ([DocumentID], [ObjectTypeID], [Title], [CreatedOn], [CreatedBy], [IsDeleted], [IsCheckedOut], [CheckedOutBy], [CheckedOutOn], [FolderID]) VALUES (3, 1, N'Sara Ali', CAST(N'2026-05-13T08:59:56.930' AS DateTime), 1, 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DOCUMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[FILES] ON 

INSERT [dbo].[FILES] ([FileID], [FileName], [OriginalFileName], [FileExtension], [FilePath], [FileSize], [ContentType], [UploadedBy], [UploadedOn], [IsDeleted]) VALUES (1, N'51519823-2a4d-4918-a89d-7e3d192a6690.pdf', N'Muhammad Sajid Resume.pdf', N'.pdf', N'D:\EnterpriseDMS\Vaults\HR\2026\05\51519823-2a4d-4918-a89d-7e3d192a6690.pdf', 162220, N'application/pdf', 4, CAST(N'2026-05-13T09:13:01.833' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[FILES] OFF
GO
SET IDENTITY_INSERT [dbo].[METADATA_VALUES] ON 

INSERT [dbo].[METADATA_VALUES] ([MetadataID], [DocumentID], [PropertyID], [ValueText]) VALUES (1, 1, 1, N'Ali Khan')
INSERT [dbo].[METADATA_VALUES] ([MetadataID], [DocumentID], [PropertyID], [ValueText]) VALUES (2, 1, 2, N'42101-1234567-1')
INSERT [dbo].[METADATA_VALUES] ([MetadataID], [DocumentID], [PropertyID], [ValueText]) VALUES (3, 1, 3, N'50000')
SET IDENTITY_INSERT [dbo].[METADATA_VALUES] OFF
GO
SET IDENTITY_INSERT [dbo].[OBJECT_CLASSES] ON 

INSERT [dbo].[OBJECT_CLASSES] ([ClassID], [ObjectTypeID], [ClassName], [Description], [IconName], [ColorCode], [IsActive], [CreatedOn], [CreatedBy]) VALUES (1, 2, N'Active Customer', N'Running Customers', N'groups', N'#4CAF50', 1, CAST(N'2026-05-12T14:10:02.027' AS DateTime), 1)
INSERT [dbo].[OBJECT_CLASSES] ([ClassID], [ObjectTypeID], [ClassName], [Description], [IconName], [ColorCode], [IsActive], [CreatedOn], [CreatedBy]) VALUES (2, 2, N'VIP Customer', N'Premium Customers', N'star', N'#FFC107', 1, CAST(N'2026-05-12T14:10:02.027' AS DateTime), 1)
INSERT [dbo].[OBJECT_CLASSES] ([ClassID], [ObjectTypeID], [ClassName], [Description], [IconName], [ColorCode], [IsActive], [CreatedOn], [CreatedBy]) VALUES (3, 3, N'HR Employee', N'Human Resource Employees', N'badge', N'#2196F3', 1, CAST(N'2026-05-12T14:10:02.027' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[OBJECT_CLASSES] OFF
GO
SET IDENTITY_INSERT [dbo].[OBJECT_FILES] ON 

INSERT [dbo].[OBJECT_FILES] ([FileID], [RecordID], [OriginalFileName], [StoredFileName], [FileExtension], [FilePath], [FileSize], [MimeType], [VersionNo], [UploadedOn], [UploadedBy]) VALUES (1, 1, N'customer_agreement.pdf', N'8A7B9C.pdf', N'.pdf', N'D:\\EnterpriseDMS\\Vault_Accounts\\Files\\2026\\05\\', 250000, N'application/pdf', 1, CAST(N'2026-05-12T14:07:16.093' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[OBJECT_FILES] OFF
GO
SET IDENTITY_INSERT [dbo].[OBJECT_PROPERTIES] ON 

INSERT [dbo].[OBJECT_PROPERTIES] ([PropertyID], [ObjectTypeID], [PropertyName], [DisplayName], [DataType], [ControlType], [IsRequired], [IsUnique], [IsSearchable], [IsSystem], [DefaultValue], [LookupObjectTypeID], [SortOrder], [IsActive]) VALUES (1, 4, N'InvoiceNo', N'Invoice Number', N'Text', N'textbox', 1, 0, 1, 0, NULL, NULL, 1, 1)
INSERT [dbo].[OBJECT_PROPERTIES] ([PropertyID], [ObjectTypeID], [PropertyName], [DisplayName], [DataType], [ControlType], [IsRequired], [IsUnique], [IsSearchable], [IsSystem], [DefaultValue], [LookupObjectTypeID], [SortOrder], [IsActive]) VALUES (2, 4, N'InvoiceDate', N'Invoice Date', N'Date', N'datepicker', 1, 0, 1, 0, NULL, NULL, 2, 1)
INSERT [dbo].[OBJECT_PROPERTIES] ([PropertyID], [ObjectTypeID], [PropertyName], [DisplayName], [DataType], [ControlType], [IsRequired], [IsUnique], [IsSearchable], [IsSystem], [DefaultValue], [LookupObjectTypeID], [SortOrder], [IsActive]) VALUES (3, 4, N'Amount', N'Invoice Amount', N'Decimal', N'textbox', 1, 0, 1, 0, NULL, NULL, 3, 1)
SET IDENTITY_INSERT [dbo].[OBJECT_PROPERTIES] OFF
GO
SET IDENTITY_INSERT [dbo].[OBJECT_PROPERTY_VALUES] ON 

INSERT [dbo].[OBJECT_PROPERTY_VALUES] ([ValueID], [RecordID], [PropertyID], [PropertyValue]) VALUES (1, 4, 13, N'INV-1001')
INSERT [dbo].[OBJECT_PROPERTY_VALUES] ([ValueID], [RecordID], [PropertyID], [PropertyValue]) VALUES (2, 4, 14, N'2026-01-01')
INSERT [dbo].[OBJECT_PROPERTY_VALUES] ([ValueID], [RecordID], [PropertyID], [PropertyValue]) VALUES (3, 4, 15, N'125000')
SET IDENTITY_INSERT [dbo].[OBJECT_PROPERTY_VALUES] OFF
GO
SET IDENTITY_INSERT [dbo].[OBJECT_RECORDS] ON 

INSERT [dbo].[OBJECT_RECORDS] ([RecordID], [ObjectTypeID], [ClassID], [Title], [CurrentVersion], [IsDeleted], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy]) VALUES (1, 2, 1, N'Ali Enterprises', 1, 0, CAST(N'2026-05-12T14:08:57.860' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[OBJECT_RECORDS] ([RecordID], [ObjectTypeID], [ClassID], [Title], [CurrentVersion], [IsDeleted], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy]) VALUES (2, 2, 2, N'Royal Corporation', 1, 0, CAST(N'2026-05-12T14:08:57.860' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[OBJECT_RECORDS] ([RecordID], [ObjectTypeID], [ClassID], [Title], [CurrentVersion], [IsDeleted], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy]) VALUES (3, 3, 3, N'Ahmed HR Record', 1, 0, CAST(N'2026-05-12T14:08:57.860' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[OBJECT_RECORDS] OFF
GO
SET IDENTITY_INSERT [dbo].[OBJECT_RELATIONS] ON 

INSERT [dbo].[OBJECT_RELATIONS] ([RelationID], [ParentRecordID], [ChildRecordID], [RelationType]) VALUES (1, 1, 4, N'Customer-Invoice')
SET IDENTITY_INSERT [dbo].[OBJECT_RELATIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[OBJECT_TYPES] ON 

INSERT [dbo].[OBJECT_TYPES] ([ObjectTypeID], [ObjectTypeName], [TableName], [HasFiles], [IsSystem], [IsActive], [CreatedOn], [CreatedBy]) VALUES (1, N'Document', N'OBJ_DOCUMENT', 1, 1, 1, CAST(N'2026-05-12T14:10:24.453' AS DateTime), 1)
INSERT [dbo].[OBJECT_TYPES] ([ObjectTypeID], [ObjectTypeName], [TableName], [HasFiles], [IsSystem], [IsActive], [CreatedOn], [CreatedBy]) VALUES (2, N'Customer', N'OBJ_CUSTOMER', 1, 0, 1, CAST(N'2026-05-12T14:10:24.453' AS DateTime), 1)
INSERT [dbo].[OBJECT_TYPES] ([ObjectTypeID], [ObjectTypeName], [TableName], [HasFiles], [IsSystem], [IsActive], [CreatedOn], [CreatedBy]) VALUES (3, N'Employee', N'OBJ_EMPLOYEE', 1, 0, 1, CAST(N'2026-05-12T14:10:24.453' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[OBJECT_TYPES] OFF
GO
ALTER TABLE [dbo].[AI_METADATA] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[DOCUMENT_CHECKOUTS] ADD  DEFAULT (getdate()) FOR [CheckedOutOn]
GO
ALTER TABLE [dbo].[DOCUMENT_CHECKOUTS] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DOCUMENT_LOCKS] ADD  DEFAULT (getdate()) FOR [LockedOn]
GO
ALTER TABLE [dbo].[DOCUMENT_LOCKS] ADD  DEFAULT ((1)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[DOCUMENT_PERMISSIONS] ADD  DEFAULT ((0)) FOR [CanView]
GO
ALTER TABLE [dbo].[DOCUMENT_PERMISSIONS] ADD  DEFAULT ((0)) FOR [CanEdit]
GO
ALTER TABLE [dbo].[DOCUMENT_PERMISSIONS] ADD  DEFAULT ((0)) FOR [CanDelete]
GO
ALTER TABLE [dbo].[DOCUMENT_PERMISSIONS] ADD  DEFAULT ((0)) FOR [CanDownload]
GO
ALTER TABLE [dbo].[DOCUMENT_SIGNATURES] ADD  DEFAULT (getdate()) FOR [SignedOn]
GO
ALTER TABLE [dbo].[DOCUMENT_WATERMARKS] ADD  DEFAULT (getdate()) FOR [AppliedOn]
GO
ALTER TABLE [dbo].[DOCUMENT_WORKFLOW] ADD  DEFAULT (getdate()) FOR [StartedOn]
GO
ALTER TABLE [dbo].[DOCUMENT_WORKFLOW] ADD  DEFAULT ((0)) FOR [Completed]
GO
ALTER TABLE [dbo].[DOCUMENT_WORKFLOW_HISTORY] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[DOCUMENTS] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[DOCUMENTS] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[DOCUMENTS] ADD  DEFAULT ((0)) FOR [IsCheckedOut]
GO
ALTER TABLE [dbo].[FILE_VERSIONS] ADD  DEFAULT (getdate()) FOR [UploadedOn]
GO
ALTER TABLE [dbo].[FILE_VERSIONS] ADD  DEFAULT ((0)) FOR [IsCurrent]
GO
ALTER TABLE [dbo].[FILES] ADD  DEFAULT (getdate()) FOR [UploadedOn]
GO
ALTER TABLE [dbo].[FILES] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[FOLDER_PERMISSIONS] ADD  DEFAULT ((0)) FOR [CanView]
GO
ALTER TABLE [dbo].[FOLDER_PERMISSIONS] ADD  DEFAULT ((0)) FOR [CanCreate]
GO
ALTER TABLE [dbo].[FOLDER_PERMISSIONS] ADD  DEFAULT ((0)) FOR [CanEdit]
GO
ALTER TABLE [dbo].[FOLDER_PERMISSIONS] ADD  DEFAULT ((0)) FOR [CanDelete]
GO
ALTER TABLE [dbo].[FOLDERS] ADD  DEFAULT ((0)) FOR [FolderLevel]
GO
ALTER TABLE [dbo].[FOLDERS] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[FOLDERS] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[OBJECT_CLASSES] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[OBJECT_CLASSES] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[OBJECT_FILES] ADD  DEFAULT (getdate()) FOR [UploadedOn]
GO
ALTER TABLE [dbo].[OBJECT_PERMISSIONS] ADD  DEFAULT ((0)) FOR [CanView]
GO
ALTER TABLE [dbo].[OBJECT_PERMISSIONS] ADD  DEFAULT ((0)) FOR [CanCreate]
GO
ALTER TABLE [dbo].[OBJECT_PERMISSIONS] ADD  DEFAULT ((0)) FOR [CanEdit]
GO
ALTER TABLE [dbo].[OBJECT_PERMISSIONS] ADD  DEFAULT ((0)) FOR [CanDelete]
GO
ALTER TABLE [dbo].[OBJECT_PROPERTIES] ADD  DEFAULT ((0)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[OBJECT_PROPERTIES] ADD  DEFAULT ((0)) FOR [IsUnique]
GO
ALTER TABLE [dbo].[OBJECT_PROPERTIES] ADD  DEFAULT ((1)) FOR [IsSearchable]
GO
ALTER TABLE [dbo].[OBJECT_PROPERTIES] ADD  DEFAULT ((0)) FOR [IsSystem]
GO
ALTER TABLE [dbo].[OBJECT_PROPERTIES] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[OBJECT_RECORDS] ADD  DEFAULT ((1)) FOR [CurrentVersion]
GO
ALTER TABLE [dbo].[OBJECT_RECORDS] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[OBJECT_RECORDS] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[OBJECT_TYPES] ADD  DEFAULT ((1)) FOR [HasFiles]
GO
ALTER TABLE [dbo].[OBJECT_TYPES] ADD  DEFAULT ((0)) FOR [IsSystem]
GO
ALTER TABLE [dbo].[OBJECT_TYPES] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[OBJECT_TYPES] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[OCR_CONTENT] ADD  DEFAULT (getdate()) FOR [ExtractedOn]
GO
ALTER TABLE [dbo].[PROPERTY_PERMISSIONS] ADD  DEFAULT ((1)) FOR [CanView]
GO
ALTER TABLE [dbo].[PROPERTY_PERMISSIONS] ADD  DEFAULT ((1)) FOR [CanEdit]
GO
ALTER TABLE [dbo].[SEARCH_INDEX] ADD  DEFAULT (getdate()) FOR [IndexedOn]
GO
ALTER TABLE [dbo].[WORKFLOW_ROLE_PERMISSIONS] ADD  DEFAULT ((0)) FOR [CanApprove]
GO
ALTER TABLE [dbo].[WORKFLOW_ROLE_PERMISSIONS] ADD  DEFAULT ((0)) FOR [CanReject]
GO
ALTER TABLE [dbo].[WORKFLOW_STATES] ADD  DEFAULT ((0)) FOR [IsInitial]
GO
ALTER TABLE [dbo].[WORKFLOW_STATES] ADD  DEFAULT ((0)) FOR [IsFinal]
GO
ALTER TABLE [dbo].[WORKFLOWS] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[WORKFLOWS] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
