USE [MasterDB]
GO
/****** Object:  Table [dbo].[ALERT_RULES]    Script Date: 5/13/2026 2:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALERT_RULES](
	[AlertRuleID] [int] IDENTITY(1,1) NOT NULL,
	[RuleName] [nvarchar](300) NULL,
	[AlertType] [nvarchar](100) NULL,
	[DaysBefore] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AlertRuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMAIL_QUEUE]    Script Date: 5/13/2026 2:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMAIL_QUEUE](
	[EmailQueueID] [int] IDENTITY(1,1) NOT NULL,
	[ToEmail] [nvarchar](300) NULL,
	[Subject] [nvarchar](500) NULL,
	[Body] [nvarchar](max) NULL,
	[IsSent] [bit] NULL,
	[SentOn] [datetime] NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmailQueueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GLOBAL_AUDIT]    Script Date: 5/13/2026 2:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GLOBAL_AUDIT](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ActionName] [nvarchar](200) NULL,
	[TableName] [nvarchar](200) NULL,
	[RecordID] [int] NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[IPAddress] [nvarchar](100) NULL,
	[BrowserInfo] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICATIONS]    Script Date: 5/13/2026 2:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATIONS](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Title] [nvarchar](300) NULL,
	[Message] [nvarchar](max) NULL,
	[NotificationType] [nvarchar](100) NULL,
	[ReferenceID] [int] NULL,
	[IsRead] [bit] NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 5/13/2026 2:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVER_PERMISSIONS]    Script Date: 5/13/2026 2:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVER_PERMISSIONS](
	[ServerPermissionID] [int] IDENTITY(1,1) NOT NULL,
	[ServerID] [int] NULL,
	[RoleID] [int] NULL,
	[CanView] [bit] NULL,
	[CanCreateVault] [bit] NULL,
	[CanEditServer] [bit] NULL,
	[CanDeleteServer] [bit] NULL,
	[CanManageStorage] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServerPermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVERS]    Script Date: 5/13/2026 2:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVERS](
	[ServerID] [int] IDENTITY(1,1) NOT NULL,
	[ServerName] [nvarchar](200) NULL,
	[ServerIP] [nvarchar](100) NULL,
	[DatabaseServer] [nvarchar](200) NULL,
	[StorageRootPath] [nvarchar](max) NULL,
	[ApiURL] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_DEVICES]    Script Date: 5/13/2026 2:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_DEVICES](
	[DeviceID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[MachineName] [nvarchar](200) NULL,
	[LocalIP] [nvarchar](100) NULL,
	[BrowserInfo] [nvarchar](max) NULL,
	[DeviceUniqueID] [nvarchar](500) NULL,
	[LastLogin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ROLES]    Script Date: 5/13/2026 2:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLES](
	[UserRoleID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[RoleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_SESSIONS]    Script Date: 5/13/2026 2:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_SESSIONS](
	[SessionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[JwtToken] [nvarchar](max) NULL,
	[DeviceID] [nvarchar](500) NULL,
	[IPAddress] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[BrowserInfo] [nvarchar](max) NULL,
	[LoginTime] [datetime] NULL,
	[ExpiryTime] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK__USER_SES__C9F492704DA76F12] PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 5/13/2026 2:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Username] [nvarchar](100) NULL,
	[Email] [nvarchar](200) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[LastLogin] [datetime] NULL,
	[FailedLoginAttempts] [int] NULL,
	[IsLocked] [bit] NULL,
	[LockoutEndTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAULT_PERMISSIONS]    Script Date: 5/13/2026 2:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAULT_PERMISSIONS](
	[VaultPermissionID] [int] IDENTITY(1,1) NOT NULL,
	[VaultID] [int] NULL,
	[RoleID] [int] NULL,
	[CanView] [bit] NULL,
	[CanUpload] [bit] NULL,
	[CanEdit] [bit] NULL,
	[CanDelete] [bit] NULL,
	[CanManageClasses] [bit] NULL,
	[CanManageWorkflow] [bit] NULL,
	[CanManagePermissions] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[VaultPermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAULTS]    Script Date: 5/13/2026 2:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAULTS](
	[VaultID] [int] IDENTITY(1,1) NOT NULL,
	[ServerID] [int] NULL,
	[VaultName] [nvarchar](200) NULL,
	[DatabaseName] [nvarchar](200) NULL,
	[FileRootPath] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VaultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([RoleID], [RoleName], [Description]) VALUES (1, N'Super Admin', NULL)
INSERT [dbo].[ROLES] ([RoleID], [RoleName], [Description]) VALUES (2, N'HR Manager', NULL)
INSERT [dbo].[ROLES] ([RoleID], [RoleName], [Description]) VALUES (3, N'Viewer', NULL)
SET IDENTITY_INSERT [dbo].[ROLES] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVER_PERMISSIONS] ON 

INSERT [dbo].[SERVER_PERMISSIONS] ([ServerPermissionID], [ServerID], [RoleID], [CanView], [CanCreateVault], [CanEditServer], [CanDeleteServer], [CanManageStorage]) VALUES (1, 1, 1, 1, 1, 1, NULL, NULL)
INSERT [dbo].[SERVER_PERMISSIONS] ([ServerPermissionID], [ServerID], [RoleID], [CanView], [CanCreateVault], [CanEditServer], [CanDeleteServer], [CanManageStorage]) VALUES (2, 1, 2, 1, 0, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SERVER_PERMISSIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVERS] ON 

INSERT [dbo].[SERVERS] ([ServerID], [ServerName], [ServerIP], [DatabaseServer], [StorageRootPath], [ApiURL], [IsActive], [CreatedOn], [CreatedBy]) VALUES (1, N'Karachi Server', N'192.168.1.10', N'DESKTOP-ABC123', N'D:\EnterpriseDMS', N'http://192.168.1.10:5000', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SERVERS] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_DEVICES] ON 

INSERT [dbo].[USER_DEVICES] ([DeviceID], [UserID], [MachineName], [LocalIP], [BrowserInfo], [DeviceUniqueID], [LastLogin]) VALUES (1, 1, N'PC-01', N'192.168.1.50', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[USER_DEVICES] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_ROLES] ON 

INSERT [dbo].[USER_ROLES] ([UserRoleID], [UserID], [RoleID]) VALUES (1, 1, 1)
INSERT [dbo].[USER_ROLES] ([UserRoleID], [UserID], [RoleID]) VALUES (2, 2, 2)
SET IDENTITY_INSERT [dbo].[USER_ROLES] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_SESSIONS] ON 

SET IDENTITY_INSERT [dbo].[USER_SESSIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([UserID], [FullName], [Username], [Email], [PasswordHash], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [LastLogin], [FailedLoginAttempts], [IsLocked], [LockoutEndTime]) VALUES (1, N'Zohaib Khan', N'zohaib', N'zohaib@dms.com', N'HASH123', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[USERS] ([UserID], [FullName], [Username], [Email], [PasswordHash], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [LastLogin], [FailedLoginAttempts], [IsLocked], [LockoutEndTime]) VALUES (2, N'Ali Raza', N'ali', N'ali@dms.com', N'HASH123', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[USERS] ([UserID], [FullName], [Username], [Email], [PasswordHash], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [LastLogin], [FailedLoginAttempts], [IsLocked], [LockoutEndTime]) VALUES (3, N'ZohaibKhan', N'zo.khan', N'zohaib@gmai.com', N'$2b$10$tbciFrFZJKPP04TsT8YQzOMD2kud7rEhWY.FmSIphs1WJRBZT9wZy', 1, NULL, NULL, NULL, NULL, CAST(N'2026-05-12T12:42:09.743' AS DateTime), 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
SET IDENTITY_INSERT [dbo].[VAULT_PERMISSIONS] ON 

INSERT [dbo].[VAULT_PERMISSIONS] ([VaultPermissionID], [VaultID], [RoleID], [CanView], [CanUpload], [CanEdit], [CanDelete], [CanManageClasses], [CanManageWorkflow], [CanManagePermissions]) VALUES (1, 1, 2, 1, 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[VAULT_PERMISSIONS] ([VaultPermissionID], [VaultID], [RoleID], [CanView], [CanUpload], [CanEdit], [CanDelete], [CanManageClasses], [CanManageWorkflow], [CanManagePermissions]) VALUES (2, 2, 2, 0, 0, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[VAULT_PERMISSIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[VAULTS] ON 

INSERT [dbo].[VAULTS] ([VaultID], [ServerID], [VaultName], [DatabaseName], [FileRootPath], [IsActive], [CreatedOn], [CreatedBy]) VALUES (4, 1, N'HR', N'HR_Vault', N'D:\EnterpriseDMS\Vaults\HR', 1, CAST(N'2026-05-12T13:36:47.387' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[VAULTS] OFF
GO
ALTER TABLE [dbo].[ALERT_RULES] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EMAIL_QUEUE] ADD  DEFAULT ((0)) FOR [IsSent]
GO
ALTER TABLE [dbo].[EMAIL_QUEUE] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[GLOBAL_AUDIT] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[NOTIFICATIONS] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[NOTIFICATIONS] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[SERVERS] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[USER_SESSIONS] ADD  CONSTRAINT [DF__USER_SESS__Login__403A8C7D]  DEFAULT (getdate()) FOR [LoginTime]
GO
ALTER TABLE [dbo].[USER_SESSIONS] ADD  CONSTRAINT [DF__USER_SESS__IsAct__412EB0B6]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[VAULTS] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
